*~$*
memoria_de_calculo.Rmd
datos/~$*
datos/.Rhistory
datos/GTM_COU_2013-2019_REFERENCIA.xlsx
datos/originales/2_Cuenta_Produccion.xlsm
datos/originales/4_Cuadros_de_Oferta_y_Utilizacion.xlsx
datos/originales/6_Cuentas_economicas_integradas.xlsx
memoria_de_calculo.html
datos/~$GTM_CLASIFICACIONES.xlsx
datos/GTM_COU_2013-2019_REFERENCIA.xlsx
datos/~$GTM_COU_2013-2019_REFERENCIA.xlsx
datos/~$filas_y_columnas.xlsx
datos/GTM_CLASIFICACIONES.xlsx
datos/~$GTM_Balances_Energeticos_2013-2020_REFERENCIA.xlsx
datos/.~lock.GTM_Balances_Energeticos_2013-2020_REFERENCIA.xlsx#
datos/.~lock.SCN_BD.xlsx#
datos/.~lock.SCN_BD_Descriptivo.xlsx#
datos/lu2462236clh.tmp